<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BOT_Platform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <BOT_Platform.Properties.Settings>
      <setting name="SettingsTemplateUserBot" serializeAs="String">
        <value>@"[LOGIN]	   
[PASSWORD] 
[APP_ID]  	$id приложения $

[MCOUNT]    $максимальное количество сообщений, принимаемое ботом за раз$
[MTOFF]   	$максимальный период приянытх сообщений$

[PAUSE]     1000
[BNAME]     бот, Бот
[BMESMEM]   30

[ADMIN_LIST] "</value>
      </setting>
      <setting name="SettingsTemplateGroupBot" serializeAs="String">
        <value>@"[TOKEN]	   
[APP_ID]   	$id приложения $

[PAUSE]     1000
[MCOUNT]    50	  	$максимальное количество сообщений, принимаемое ботом за раз$
[MTOFF]     15		$максимальный период приянытх сообщений$

[BNAME]    бот,Бот
[BMESMEM]  30

[ADMIN_LIST] "</value>
      </setting>
    </BOT_Platform.Properties.Settings>
  </applicationSettings>
</configuration>